%html
  %head
    %title Actions - Pickup Games
    =haml(:header)
  %body
    #content
      %table
        %tr
          %td
            %a{href: '/my_sports_game_requests'} See my requests
        %tr
          %td
            %a{href: '/new_game_request'} Create a new game request