%html
  %head
    %title Actions - Pickup Games
    =haml(:header)
  %body
    #content
      %form
        %button{:formaction => "/new_sports_game_request/"} I want to play a specific sport on a specific day and time
        %button{:formaction => "/available_games"} Available games to join
        %button{:formaction => "/my_sports_game_requests"} See or change my games
        %button{:formaction => "/most_popular_sport"} Get most popular sport
        %button{:formaction => "/main"} Go back to main page