%html
  %head
    %title Login - Pickup Games
    =haml(:header)
  %body
    #content
      - if @error != nil
        #error
          %strong
            - case @error
            - when :INVALID
              = "Incorrect username or password. Try again."
            - when :UNAUTHORIZED
              = "You need to be logged in to access that."
        %br
      %table
        %tr
          %td
            %form{name: 'login', method: 'post', action: '/login'}
              %label{for: 'email'} E-mail
              %input{type: 'text', name: 'email'}
              %label{for: 'password'} Password
              %input{type: 'password', name: 'password'}
              %input{type: 'submit', value: 'Login'}