%html
  %head
    %title Main - Pickup Games
    =haml(:header)
  %body
    #content
      - if @error != nil
        %strong Resource not found
        %br
      - if @firstName != nil
        %strong= "Welcome #{@firstName.capitalize}!"
        %br
      %table
        %tr
          %td
            %a{href: '/login'} Login
          %td
            %a{href: '/logout'} Logout
        %tr
          %td
            %a{href: '/register'} Register
          %td
            %a{href: '/all_users'} Users