%html
  %head
    %title Main - Pickup Games
  %body
    #content
      %table
        %tr
          %td
            %a{href: '/login'} Login
        %tr
          %td
            %a{href: '/register'} Register