%html
  %head
    %title Main - Pickup Games
  %body
    #content
      %table
        %tr
          %td
            %a{href: '/login'} Login
          %td
            %a{href: '/logout'} Logout
        %tr
          %td
            %a{href: '/register'} Register
          %td
            %a{href: '/all_users'} Users