%html
  %head
    %title Most Popular Sport - Pickup Games
    =haml(:header)
  %body
    #content
      %h1 Most Popular Sports
      %table{class: 'table'}
        %thead
          %tr
            %th Sport
            %th Total Number of Games
        %tbody
          - for (sportName, totalGames) in @sportTotals do
            %tr
              %td= sportName
              %td= totalGames
      %br
      %h1 Most Popular Time for a Given Sport
      %table{class: 'table'}
        %thead
          %tr
            %th Sport
            %th Time
        %tbody
          - for (sportName, time) in @popularTimesBySport do
            %tr
              %td= sportName
              %td= time
