%html
  %head
    %title Register - Pickup Games
    =haml(:header)
  %body
    #content
      - if @error != nil
        #error
          %strong
            - if @error == :ERROR
              = "Username already registered."
        %br
      #blah #{File.basename(__FILE__, ".*").capitalize}
      %table
        %tr
          %td
            %form{name: 'register', method: 'post', action: '/register'}
              %label{for: 'email'} E-mail
              %input{type: 'text', name: 'email'}
              %label{for: 'firstName'} First Name
              %input{type: 'text', name: 'firstName'}
              %label{for: 'lastName'} Last Name
              %input{type: 'text', name: 'lastName'}
              %label{for: 'password'} Password
              %input{type: 'password', name: 'password'}
              %label{for: 'school'} School
              %input{type: 'text', name: 'school'}
              %input{type: 'submit', value: 'Register'}