%html
  %head
    %title Users - Pickup Games
    =haml(:header)
  %body
    #content
      %table
        - for user in @users do
          %tr
            %td= user[:email]
            %td= user[:password]